* , html , body{
    margin: 0px;
    padding: 0px;
}

/* HEADER AND NAVBAR */
header li{
    list-style: none;
    display: inline;
    font-size: 26px;
    margin-left: 20px;
    margin-right: 20px;
}
header p , header h1 , header ul{
    display: inline;
}
li i{
    padding-right: 10px;
}

header li a{
    text-decoration: none;
}
header li a:hover{
    color: #6d7a69;
}

header{
    background-color: white;
    /* background: transparent; */
    position: fixed;
    width: 100vw;
    height: 60px;
    opacity: 1;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}
div.container{
    padding-top: 60px;
    height: 100vh;
    background-color: skyblue;
}


@media only screen and (max-width: 990px) {
    header li p{
        /* position: absolute; */
        display: none;
        /* left: 1000px; */
    }
  }

@media only screen and (max-width: 500px) {
    header li {
        margin-left: 10px;
        margin-right: 10px;
    }
  }
@media only screen and (max-width: 360px) {
    header li {
        margin-left: 5px;
        margin-right: 5px;
    }
  }
@media only screen and (max-width: 300px) {
    header li {
        margin-left: 0px;
        margin-right: 0px;
    }
  }
@media only screen and (max-width: 252px) {
    header h1{
        display: none;
    }
  }